[Unit]
Description=Some Example server
# After=remote-fs.target memcached.service
After=syslog.target
# Requires=memcached.service
# AssertPathExists=/home/thomas
# StartLimitBurst=5
# StartLimitIntervalSec=10

[Service]
Type=forking
# Restart=on-failure
# RestartSec=1
User=root
# Group=thomas
ExecStart=/home/thomas/c++/SrvLib/build/ExampleSrv
ExecReload=/home/thomas/c++/SrvLib/build/ExampleSrv -k
# ExecStop=/bin/kill -WINCH ${MAINPID}
KillSignal=SIGTERM

# Nice=0
# PrivateTmp=yes
KillMode=mixed

[Install]
WantedBy=multi-user.target
